<section class="page board-page" *ngIf="gameDetails">
  <div class="board-container">
    <div class="ui game-top">
      <div class="score">
        <div>
          <span class="team-red">
            {{ wordsLeft.redTeam }}
          </span>
          <span> - </span>
          <span class="team-blue">
            {{ wordsLeft.blueTeam }}
          </span>
        </div>
      </div>
      <div [ngClass]="teamClass">
        {{ titleMessage | capitalize }}
      </div>
      <div>
        <app-fancy-button
          [disabled]="!gameDetails.isGameRunning"
          (click)="nextTurn()"
          >Next team</app-fancy-button
        >
      </div>
    </div>
    <div class="board">
      <app-word
        [disabled]="!gameDetails.isGameRunning"
        (click)="revealWord(word)"
        *ngFor="let word of gameDetails.words"
        [word]="word"
        [allRevealed]="allRevealed"
      ></app-word>
    </div>
    <div class="ui game-bottom">
      <div [class.active]="allRevealed"  class="icon-container" (click)="toggleRevealAllCards()">
        <img
          class="reveal-icon"
          src="../../../assets/svg/reveal-icon.svg"
          alt="reveal-icon"
          title="Reveal Cards!"
        />
      </div>
      <div></div>
      <app-fancy-button (click)="newGame()" [disabled]="false"
        >Next Game</app-fancy-button
      >
    </div>
  </div>
</section>
