<div
  class="card"
  [class.disabled]="isDisabled && word.whoseTeam !== 'death'"
  [class.revealed]="word.isRevealed"
  [class.team-blue]="
    (allRevealed || word.isRevealed) && word.whoseTeam === 'blue'
  "
  [class.team-red]="
    (allRevealed || word.isRevealed) && word.whoseTeam === 'red'
  "
  [class.death]="(allRevealed || word.isRevealed) && word.whoseTeam === 'death'"
  [class.animate]="shouldAnimate && !word.isRevealed"
>
  <div [ngClass]="sizeClasses">
    <!-- TODO: adjust these classes so it looks better! -->
    {{ word.word | uppercase }}
  </div>
</div>
