@import '../../../styles/setup/variables.scss';

.nav-list-container {
  background-color: $bgcolor2;
  padding: 0 20px;
  clear: both;
}

.nav-list {
  height: 3.875rem;
  line-height: 1.875rem;
  font-size: 1.875rem;

  display: flex;
}

.nav-item {
  cursor: pointer;
  padding: 1rem;
  color: white;
  &:hover {
    color: black;
    background-color: $color1;
  }
}
.nav-item:not(:last-child) {
  // border-right: 1px solid black;
  margin-right: 20px;
}

.active {
  color: black;
    background-color: $color1;
}
